{% extends 'homepage/layout.html'%}

{% load static %}

{% block body %}
  <div class="row">
    <div class="col-4 postion-sticky">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">For Approval</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Approved</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Rejected</a>
      </div>
    </div>

    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">For Approval</h4>
          <div class="col my-3" id="for-approval"></div>
        <h4 id="list-item-2">Approved</h4>
          <div class="col my-3" id="approved"></div>
        <h4 id="list-item-3" >Rejected</h4>
          <div class="col my-3" id="rejected">
          </div>
      </div>
  </div>
  <!-- drop down menus  -->
{% endblock %}

{% block script%}
  <script src="{% static 'homepage/approval.js'%}"></script>
{% endblock %}