{% extends 'homepage/layout.html'%}

{% load static %}

{% block body %}

  <!-- drop down menus  -->
  <div class="row justify-content-center align-items-center">
    <h1>For Approval</h1>
    <div class="col-8" id="for-approval">
          <!-- content from js goes here  approval-->
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <h1>Approved</h1>
    <div class="col-8" id="approved">
          <!-- content from js goes here  approval-->
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <h1>Rejected</h1>
    <div class="col-8" id="rejected">
          <!-- content from js goes here  approval-->
    </div>
  </div>

  <div class="row justify-content-center">

  </div>
{% endblock %}

{% block script%}
  <script src="{% static 'homepage/approval.js'%}"></script>
{% endblock %}