{% extends 'homepage/layout.html'%}

{% load static %}
{% block title %} - make order {% endblock %}

{% block body %}

<!-- drop down menus  -->
<div class="row justify-content-evenly align-items-center">
  <div class="col-xxl-4 table-responsive col-sm-10 p-3  m-1 shadow-lg  border border-danger-subtle rounded">
    <!-- table goes here for details showing  -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Blood Type</th>
          <td><span class="badge text-bg-danger rounded-pill" >{{blood_details.blood_type}}</span></td>
        </tr>
        <tr>
          <th scope="row">Stock</th>
          <td>{{ blood_details.quantity }}</td>
        </tr>
        <tr>
          <th scope="row">Blood Bank Name</th>
          <td colspan="2">{{blood_details.blood_bank.first_name}}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td colspan="2">{{blood_details.blood_bank.address}}</td>
        </tr>
        <tr>
          <th scope="row">Contact Options</th>
          <td colspan="2">{{blood_details.blood_bank.contact_no}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-xxl-6 col-sm-10 p-3 m-1 border border-danger-subtle rounded shadow-lg" >
    
    <h1>Fill out the Form </h1>
    <form action="{% url 'blood_info_view' blood_details.id %}" method="POST" enctype="multipart/form-data" id="order-form">
      {% csrf_token %}
      {{ order_form }}
      <button type="submit" class="btn btn-outline-danger" id="order-btn">Submit</button>
    </form>
    
  </div>
</div>
<input type="hidden" id="user" value="{{ request.user }}" /> 

<script>
  const orderBtn = document.getElementById('order-btn');
  const requestUser = document.getElementById('user');
  const orderForm = document.getElementById('order-form')
 
  async function notify() {
    const a = await new Notification(`Hii ${requestUser.value},`,  {
      body: "Your order has been placed",
      icon: "{% static 'homepage/logo.svg'%}"
    });
    return a;
  }


  orderBtn.addEventListener('click', (e) => {
    e.preventDefault();
    if("Notification" in window){
      const permission = Notification.requestPermission();
      permission.then((a) => {
        if (Notification.permission === "granted"){
          notify().then(()=> {
            orderForm.submit();
          })
        }else{
          orderForm.submit();
        }
      });
    } 
  })
</script>

{% endblock %}