{% extends 'homepage/layout.html'%}

{% load static %}

{% block body %}

  <!-- drop down menus  -->
  <div class="row">
    <div class="col">
      
    </div>

    <div class="col">
        <h1>Index Page Implementation</h1>
    </div>

    <div class="col">
      {% for listing in list%}
        <p>{{ listing.blood_bank }} -> {{ listing.blood_type }} ->{{ listing.quantity }} -> {{listing.blood_bank.address}}</p>
      {% endfor %}
    </div>
    <!-- for refreshing the data  -->

    <div class="row" id="data-div">

    </div>
    
  </div>
{% endblock %}