{% extends 'homepage/layout.html'%}

{% load static %}

{% block title%}Blood Network{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'homepage/style.css' %}" />{% endblock %}

{% block body %}

<!-- drop down menus  -->
<div class="row justify-content-center align-items-end mt-10">

  <div class="col-lg-8  col-sm-12 bg-white">
    <form action="{% url 'search_view' %}">
      <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" name="query" placeholder="Search: city" aria-label="Search"
          aria-describedby="button-addon2" value="{{value}}">
        <button class="btn btn-outline-danger" type="submit" id="button-addon2">Search</button>
      </div>
    </form>
  </div>

</div>

<div class="row justify-content-center">

  <div class="col-lg-8 col-sm-12">
    <!-- list -->
    <ol class="list-group " id="listTable">
      {% if not list %}
        <h4 class="align-self-center">No Data</h4>
      {% else %}
        {% for listing in list %}
          <li data-listId="{{ listing.id }}" class="list-group-item d-flex justify-content-between align-items-start blood-list">
            <div>{{ listing.id }}.  </div>
            <div data-listId="{{ listing.id }}" class="ms-2 me-auto blood-list" id="bloodBankDetails">
              <div class="fw-bold blood-list" data-listId="{{ listing.id }}">{{listing.blood_bank.first_name}}</div>
              {{listing.blood_bank.address}}
            </div>
            <span class="badge text-bg-danger rounded-pill" data-listId="{{ listing.id }}">{{listing.blood_type}}</span>
          </li>
        {% endfor %}
      {% endif %}
    </ol>
  </div>

      <nav aria-label="...">
        <ul class="pagination justify-content-center mt-3">
          {% if list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ list.previous_page_number }}" style="color:red;">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#" style="color:red;">{{ list.previous_page_number }}</a></li>
          {% endif %}

          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#" style="color:white; background-color: crimson;">{{ list.number }}</a>
          </li>

          {% if list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ list.next_page_number }}" style="color:red;">{{ list.next_page_number }}</a></li>
            <li class="page-item">
              <a class="page-link" href="?page={{ list.next_page_number }}" style="color:red;">Next</a>
            </li>
          {%endif %}
        </ul>
      </nav>

{% endblock %}

{% block script %}
      <script src="{% static 'homepage/index.js'%}"></script>
{% endblock %}

