{% extends 'homepage/layout.html'%}

{% load static %}

{% block body %}

  <div class="row">
    <h2>Pending</h2>
    <div class="col">
      {% for order in pending_orders %}
      <div class="card my-4 bg-primary-subtle">
        <div class="card-header d-flex justify-content-between">
          Pending
          <span>{{ order.timestamp }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ order.blood_details.blood_bank.first_name }}</strong>-- {{ order.blood_details.blood_bank.username }}
          </h5>
          <p class="card-text">{{ order.address }}</p>
          <button class="btn btn-outline-danger cancel-btn" data-id="{{order.id}}"> cancel</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <H2>Approved</H2>
    <div class="col">
      {% for order in approved_orders %}
      <div class="card my-4 bg-success-subtle">
        <div class="card-header d-flex justify-content-between">
          Cancelled
          <span>{{ order.timestamp }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ order.blood_details.blood_bank.first_name }}</strong>-- {{ order.blood_details.blood_bank.username }}
          </h5>
          <p class="card-text">{{ order.address }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <H2>Cancelled</H2>
    <div class="col">
      {% for order in cancelled_orders %}
      <div class="card my-4 bg-dark-subtle">
        <div class="card-header d-flex justify-content-between">
          Cancelled
          <span>{{ order.timestamp }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ order.blood_details.blood_bank.first_name }}</strong>-- {{ order.blood_details.blood_bank.username }}
          </h5>
          <p class="card-text">{{ order.address }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <H2>Rejected</H2>
    <div class="col">
      {% for order in rejected_orders %}
      <div class="card my-4 bg-danger-subtle">
        <div class="card-header d-flex justify-content-between">
          Cancelled
          <span>{{ order.timestamp }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ order.blood_details.blood_bank.first_name }}</strong>-- {{ order.blood_details.blood_bank.username }}
          </h5>
          <p class="card-text">{{ order.address }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block script %}
  <script src="{% static 'homepage/order.js'%}"></script>
{% endblock %}