{% extends 'homepage/layout.html'%}

{% load static %}
{% block title %} - update profile {% endblock %}

{% block body %}

  <!-- drop down menus  -->
  <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 col-sm-6">
        {% if profile_img.url %}
          <img class="img-fluid rounded-pill mb-3" style="width:200px; height: 200px;" src="{{ profile_img.url }}" alt="">
        {% else %}
          <p><strong>No Image</strong></p>
        {% endif %}
      </div>

      <div class="col-lg-4 col-sm-6">
        <H1>Update Profile</H1>
      </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      {% if request.user %}
        <p> <strong>Username:  </strong> <b>{{request.user}}</b> </p>
      {% endif %}

      <!-- // profile form -->
      <form action="{% url 'my_profile_view' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}
        <button type="submit" class="btn btn-danger d-flex">save changes</button>
      </form>
    </div>
  </div>
{% endblock %}